
* {
box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

.navbar-header {
width: 100%;
background-color: rgb(100, 149, 237);
overflow: auto;
}

.navbar-header a {
float: left;
padding: 12px;
color: white;
text-decoration: none;
font-size: 17px;
width: 20%;

/* Four links of equal widths */
text-align: center;
}

.navbar-header a:hover {
background-color: #000;
}

.navbar-header a.active {
background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
.navbar-header a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
}
}

.header-section {
    padding: 10px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

.footer {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

.about-row {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
  }

.about-column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 6px;
  }

.about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    min-height: 200px;
  }

.about-container {
    padding: 0 16px; 
  }

.about-container::after,
.about-row::after {
    content: "";
    clear: both;
    display: table;
  }

.about-title {
    color: grey;
  }

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

.button:hover {
    background-color: #555;
  }
  
.description-content {
  padding-left: 10%;

}