.iframeContainer {
  padding: 10px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;div {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

#scatter {
  margin-top: 50px;
  margin-left:150px;
  margin-right:-80px;
  
}
#scattertitle {
  margin-top: 50px;
  margin-left:100px;
  margin-right:200px;
}
  

#vizdiv {
  margin-left:100px; 
  margin-right:200px;

}