{% extends "base.html" %}

{% set active_page = "home" %}

{% block content %}

<!-- Start of landing page content -->
<!-- Start of container -->
<div class="container">
  <h1 class="description-header">National Crime Data 2018-2019</h1>
  <hr class="description-hr" />

  <style>
    {
      box-sizing: border-box;
    }

    /* Set additional styling options for the columns*/
    .column {
      float: left;
      width: 50%;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  <div class="row">
    <div class="column">


      <h2>Introduction</h2>
      <p> The FBI publishes annual reports on the status of law enforcement in the United States.
        The report's definitions of specific crimes are considered standard by many American law enforcement agencies.
        According to the FBI, index crime in the United States includes violent crime and property crime.
        Violent crime consists of five criminal offenses: murder and non-negligent manslaughter, rape, robbery,
        aggravated
        assault, and gang violence;
        property crime consists of burglary, larceny, motor vehicle theft, and arson.</p>

      <p> Basic aspect of a crime considers the offender, the victim, type of crime, severity and level, and location.
        These are the basic questions asked by law enforcement when first investigating any situation. This
        information is
        formatted into a government record by a police arrest report, also known as an incident report.
        These forms lay out all the information needed to put the crime in the system and it provides a strong outline
        for
        further law enforcement agents to review. </p>

    </div>
    <div class="column">
    </div>
  </div>
</div>


{% endblock %}