{% extends "base.html" %}

{% set active_page = "home" %}

{% block content %}

<!-- Start of landing page content -->
<!-- Start of container -->
<div class="container">
  <div class="header-section">
    <h1>National Crime Data Analysis</h1>
    <p>2011-2019</p>
  </div>

  <style>
    .column {
      float: left;
      width: 50%;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>

  <div class="row">
    <div class="column">

      <h2>Introduction</h2>

      <p> Since 1930, the FBI's Uniform Crime Reporting (UCR) Program has been generating statistics for use in 
        law enforcement and providing information for students, researchers, the media, and the public. </p>

      <p>This dashboard analyzes the UCR's annual reports for 2011-2019, looking for trends in high crime states.
        It also predicts population data for 2028 based on the previous reports in order to estimate violent crime 
        numbers in the same year.</p>

      <p>UCR's definitions of specific crimes are considered standard by many American law enforcement agencies.
        Index crime in the United States includes violent crime and property crime.
        Violent crime consists of five criminal offenses: murder and non-negligent manslaughter, rape, robbery,
        aggravated assault, and gang violence; property crime consists of burglary, larceny, motor vehicle theft, 
        and arson.</p>

    </div>

    <div class="column">
      <a href= "https://www.fbi.gov/services/cjis/ucr">
      <img src="https://www.fbi.gov/image-repository/ucr-logo.jpg/@@images/image/large" alt="FBI Uniform Crime Reporting" style="width:70%;Height:70%; padding-top: 20px; padding-left: 80px;">
      </a>
    </div>
    
  </div>
</div>


{% endblock %}