{% extends "base.html" %}

{% set active_page = "resources" %}

{% block content %}

<!-- Start of landing page content -->
<!-- Start of container -->
<div class="container">
  <section class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xm-12">
      <article class="description-content">
        <h1 class="description-header">Crime Analysis Data Resources</h1>
        <hr class="description-hr" />
        <p>
        <h3><a href="https://www.kaggle.com/mizomatic/usa-crime-data-20182019">USA Crime Data 2018-2019</a></h3>
        </p>
        <p>
        <h3>Context</h3>
        This table provides the number of offenses known to law enforcement for the first six months of 2018 and 2019 in
        cities with populations of 100,000 and over.

        <h3>Content</h3>
        The table contains 552 rows and 14 columns. Crime has been divided into following cases: 'Violent Crime',
        'Murder', 'Rape', 'Robbery', 'Aggravated assault', 'Property Crime', 'Burglary', 'Larceny Theft', 'Motor Vehicle
        Theft', 'Arson'.

        <h3>Data Source</h3>
        All the credit for this data goes to the Federal Bureau of Investigation. For more information regarding the
        data refer <a href="https://ucr.fbi.gov/crime-in-the-u.s/2019/preliminary-report">here.</a></p>

        <h3>Acknowledgement</h3>
        <p>We thank our tutor <a href="https://ryan.zernach.com/">Ryan Zernach</a> for his immense knowledge and
          insight.</p>

        <p>We are also very grateful for all the help and guidence provided by Michael, Sam and Melodie throughout the
          process of this project. </p>
      </article>
    </div>
  </section>
</div>
{% endblock %}